<div class="feature-blog">
   <h3 class="feature-title">A Blog about Blogging about Blogs</h3>
   <div class="feature-image">
       <img src="/images/laptop.jpg" alt="">
   </div>
   <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quod.</p>
</div>