<nav class="nav">
    <img  class="logo" src="/images/main-logo.png" alt="">

    <span class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </span>
     <span class="close-menu">
        <i class="fas fa-times"></i>
    </span>

    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
         <li class="nav-item">
            <a href="/about" class="nav-link">About Us</a>
        </li>
         <li class="nav-item">
            <a href="/blog" class="nav-link">Blog</a>
        </li>
         <li class="nav-item">
            <a href="/team" class="nav-link">Team</a>
        </li>
         {{!-- <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
        </li> --}}
         <li class="nav-item social-item">
            <a href="https://www.instagram.com/globeconnect.llc/" class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
         <li class="nav-item social-item">
            <a href="https://www.linkedin.com/company/globeconnect-llc/" class="nav-link"><i class="fab fa-linkedin"></i></a>
        </li>
          <li class="nav-item social-item">
            <a href="https://www.facebook.com/globeconnect.llc/" class="nav-link"><i class="fab fa-facebook"></i></a>
        </li>
    </ul>
</nav>