   <ul class="social-list">
                 <li class="nav-item social-item">
                    <a href="" class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
                 <li class="nav-item social-item">
                    <a href="" class="nav-link"><i class="fab fa-linkedin"></i></a>
                </li>
                  <li class="nav-item social-item">
                    <a href="" class="nav-link"><i class="fab fa-facebook"></i></a>
                </li>
     </ul>