<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>


<section class="page-container" id="content-wrap">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<center>
    <div class="about-header" >
        <img class="mySlides" src="/images/earth-dark.jpeg" style="width:100%">
        <img class="mySlides" src="/images/doctorphone.jpg" style="width:100%">
        <img class="mySlides" src="/images/world.jpg" style="width:100%">         
    </div>
</center>
   
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
</section>

{{!-- About area --}}

<hr style="border-top: 5px solid crimson;">
  <section class="about-area" id="about">
            <h3 class="section-title">About Us</h3>
            <div class="container">
              <div class="about-content">
                <div class="about-left">
                    <img src="/images/team-work.jpg" alt=""> 
                </div>
                <div class="about-right">
                       <h2 class="about-sub-title">GlobeConnect is newer way of connecting</h2>
                        <p class="paragraph about-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo similique libero, excepturi quasi quos consequuntur quis velit aspernatur. Error, aut distinctio. Modi nobis nostrum eligendi aliquid veritatis fugiat eaque? Illum! </p>
                        <p class="paragraph about-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus iure nostrum reprehenderit quisquam voluptatibus, dolorum sunt recusandae totam impedit minus molestiae necessitatibus architecto fuga. Iste voluptates labore quod nostrum illo.</p>
                        <a href="/team" class="about-btn">Meet The Team</a>
                </div>
              </div>
            </div>    
       </section>



<!-- Solutions -->

<header class="solutions">
  <h2 class="header-title">Solutions:</h2>
  <h6>What we plan to do about</h6>
</header>


<!-- The App Section -->
<section class="service-section">
<div class="container">
  <div class="service">
    <div class="service-body">
        <h1 class="header-title"><b>Service Inititative</b></h1>
         <br>
         <p class="paragraph"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, rem at vero quidem repudiandae voluptatem possimus sapiente, unde quam, repellat optio ea! Nostrum quae saepe vero quas illo et nihil!</p>
         <br>
         <button class="button">Placeholder</button>
    </div>
    <div class="service-photo">
        <img src="/images/laptop.jpg" width="335" height="471">
    </div>
  </div>
</div>
</section>


<!-- Clarity Section -->
<section class="service-section">
<div class="container" >
  <div class="clarity" style="background-color:#f1f1f1">
    <div class="clarity-photo">
      <img src="/images/world.jpg" alt="App" width="335" height="471">
    </div>
    
    <div class="clarity-body">
         <h1 class="header-title"><b>The Plan</b></h1>  
         <br>
           <p class="paragraph"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, rem at vero quidem repudiandae voluptatem possimus sapiente, unde quam, repellat optio ea! Nostrum quae saepe vero quas illo et nihil!</p>
         <br>
        <button class="button" style="background-color:var(--deep-teal);">Placeholder</button>
    </div>
  </div>
</div>
</section>


<!-- The App Section -->
<section class="service-section">
<div class="container">
  <div class="app">
    <div class="app-body">
      <h1 class="header-title"><b>Mobile Health Effectiveness</b></h1>
      <br>
      <p class="paragraph"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, rem at vero quidem repudiandae voluptatem possimus sapiente, unde quam, repellat optio ea! Nostrum quae saepe vero quas illo et nihil!</p>
       <br>
      <button class="button">Placeholder</button>
    </div>

    <div class="app-photo">
        <img src="/images/tools.jpg" width="335" height="471" >
    </div>
  </div>
</div>
</section>




<br>
<br>
{{!-- footer --}}
<footer class="blog-footer">

    <div class="container">
        <div class="blog-socials">
             <h4>Connect with us on social media</h4>
 {{> _socials}}
        </div>

    </div>
     
</footer>

