<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<section class="about-header">
    <div class="container">
        <h1>About</h1>
    </div>
</section>
