<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<section class="blog-header">
    
        <div class="blog-feature">
             <h1 class="header-title feature-header">Featured Blog Post</h1>
       
        <div class="feature-blog">
            <div class="feature-card">
                <a href="#">
                <h3 class="feature-title">
                 Why GlobeConnect is the best       
                </h3>
                 </a> 
                  <span class="blog-category yellow">Health</span>
                  <p class="feature-text">We are the best because we said so :)</p>
                  <div class="blog-author">
                      <img src="/images/rohit.jpeg" alt="">
                      <div class="blog-info">
                          <h5>Rohit Mukherjee</h5>
                          <small>June 18th 2020</small>
                      </div>
                  </div>
            </div>
        </div>
        </div>
</section>

<section class="blog-content">
    <div class="container">
        <div class="blog-posts">
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/laptop.jpg" alt="" class="image"></div>
                      <div class="blog-card-body">
                          <span class="blog-category green">Tips</span>
                            <h2 class="blog-card-title">10 things you can do to be more healthy</h2>
                             <p class="blog-card-text">Eat more vegetables like mom said.</p>
                            <div class="blog-author">
                                <img src="/images/rohit.jpeg" alt="">
                                <div class="blog-info">
                                     <h5>Rohit Mukherjee</h5>
                                     <div>
                                        <small>Yesterday</small>
                                     </div>
                                     
                                </div>
                               
                            </div>
                      </div>   
             </div>
                <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <div class="blog-card-body">
                          <span class="blog-category yellow">Health</span>
                            <h2 class="blog-card-title">The COVID-19 Resurgence: It's Not Going Away</h2>
                             <p class="blog-card-text">Wear a mask.</p>
                            <div class="blog-author">
                                <img src="/images/rohit.jpeg" alt="">
                                <div class="blog-info ">
                                     <h5>Sarah Elizabeth Foran</h5>
                                     <div>
                                        <small>June 25th 2020</small>
                                     </div>
                                     
                                </div>
                               
                            </div>
                      </div>   
             </div>
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/laptop.jpg" alt="" class="image"></div>
                      <div class="blog-card-body">
                          <span class="blog-category blue">Social Issues</span>
                            <h2 class="blog-card-title">George Floyd: What Does This Mean and Where Do We Go From Here?</h2>
                             <p class="blog-card-text">I cant breathe.</p>
                            <div class="blog-author">
                                <img src="/images/rohit.jpeg" alt="">
                                <div class="blog-info">
                                     <h5>Jhadah Mcdonald</h5>
                                     <div>
                                        <small>May 20th 2020</small>
                                     </div>
                                     
                                </div>
                               
                            </div>
                      </div>   
             </div>

        </div>
    </div>
</section>

<footer class="blog-footer">
    <div class="container">
        <div class="blog-socials">
             <h4>Connect with us on social media</h4>
 {{> _socials}}
        </div>

    </div>
     
</footer>