<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<section class="blog-header">
    <div class="container">
        <div class="blog-feature">
             <h1 class="header-title feature-header">Featured Blog Post</h1>
       
        <div class="feature-blog">
             <h3 class="feature-title"> 
                 <a>
                    A Blog about Blogging about Blogs
                </a> 
             </h3>
             <div class="feature-image">
                   <img class="image" src="/images/laptop.jpg" alt="">
            </div>
             <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quod.</p>
        </div>

        </div>
         
    </div>
</section>

<section class="blog-content">
    <div class="container">
        <div class="blog-posts">
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
              <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
         <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
             <div class="blog-card">
                      <div class="blog-card-photo"><img src="/images/tools.jpg" alt="" class="image"></div>
                      <h2 class="blog-card-title">Blog Post Title</h2>
                      <p class="blog-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, illo!</p>
             </div>
            
            
            

        </div>
    </div>
</section>

<footer class="blog-footer">
    <div class="container">
        <div class="blog-socials">
             <h4>Connect with us on social media</h4>
 {{> _socials}}
        </div>

    </div>
     
</footer>