<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<main>
    <section class="hero">
        <div class="container ">
            <div class="main-header">
                <div class="left-header">
                      <img src="/images/text-logo.png" alt="" class="title">
            <h3 class="sub-title">Fighting healthcare disparity all over the world</h3>
            <button class="btn">Learn More</button>
                </div>
                <div class="right-header">
                    <div class="card">
                        <i class="far fa-clock"></i>
                         <h4 class="card-title">Save time</h4>
                        <p class="card-par">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                     </div>

             <div class="card">
               <i class="fas fa-money-bill-alt"></i>
                <h4 class="card-title">Cost effective </h4>
                <p class='card-par' >Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia</p>
            </div>

            <div class="card">
              <i class="fas fa-ambulance"></i>
                <h4 class="card-title">Mobile Telemedicine.</h4>
                <p class="card-par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis consectetur molestias </p>
            </div>
                </div>
           
            </div>
           
        </div>
    </section>
</main>

<section class="ceo-section">
    <div class="container">
        <div class="ceo-area">
            <div class="ceo-photo">
                 <img class='ceo' src="/images/rohit.jpeg" alt="">
                 <h4 class="ceo-title">CEO/Co-Founder: Rohit Mukherjee</h4>
            </div>
           
            <p class="ceo-par paragraph">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui molestias, laboriosam voluptate, beatae deserunt, reprehenderit possimus alias ducimus dolore sunt ratione aut quis maxime id! Sequi dolore accusantium tempora numquam est? Nihil dolore consequatur, quidem temporibus ratione accusantium assumenda laboriosam."</p>
        </div>
    </div>
</section>

<section class="content-section">
        <div class="block">
            <div class="block-photo">
                 <img src="/images/nurse2.jpg" alt="">
            </div>
            <div class="block-card">
                <h3 class="block-title header-title">Why GlobeConnect</h3>
                <p class="block-par paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore id molestiae dolores repellat commodi enim explicabo aut necessitatibus, amet quaerat accusamus deserunt ipsum veniam velit facere libero quis qui in! Sapiente, architecto tempora. Dolore nam veritatis ullam distinctio quos!</p>
            </div>
        </div>
         <div class="block">
            <div class="block-card">
                <h3 class="block-title header-title" >Who we Help</h3>
                <p class="block-par paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio delectus, labore exercitationem fugiat, neque rerum soluta itaque sapiente obcaecati provident molestiae, porro qui nulla et! Ratione ullam sit harum quibusdam.</p>
            </div>
            <div class="block-photo">
                <img src="/images/nurse4.jpg" alt="">
            </div>
        </div>    
</section>


<section class="email-section">
          <div class="email-area">
            <h2>Join our email list!</h2>
            <input type="email" placeholder="Type your email here...">
        </div>
      
</section>

<footer>
    <div class="container">
        <div class="footer-area">
            <div class="footer-block">
                <h4>Connect with us on social media</h4>
                 {{> _socials}}
            </div>


            <div class="footer-block">
                <h2 class="footer-title header-title">Most Recent Blog Post</h2>
                <ul class="blog-list">
                    <li><a href="">&#8594; Corona virus cases in New Jersey</a></li>
                     <li><a href="">&#8594; Telemedicine is the future</a></li>
                     <li><a href="">&#8594; Why GlobeConnect is the best</a></li>
                     <li><a href="">&#8594; 10 things you can do to improve immune system</a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>