<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<main>
    <section class="hero">
        <div class="container ">
            <div class="main-header">
                <div class="left-header">
                      <img src="/images/text-logo.png" alt="" class="title">
            <h3 class="sub-title">Fighting healthcare disparity all over the world</h3>
            <a href="/about">
                     <button class="btn">Learn More</button>
            </a>
   
                </div>
                <div class="right-header">
                  <img src="/images/worldconnect.svg" class="hero-photo" alt="">
                </div>
           
            </div>
           
        </div>
    </section>
</main>

<section class="ceo-section">
    <div class="container">
        <div class="ceo-area">
            <div class="ceo-photo">
                 <img class='ceo' src="/images/rohit.jpeg" alt="">
                 <h4 class="ceo-title">CEO/Co-Founder: Rohit Mukherjee</h4>
            </div>
           
            <p class="ceo-par paragraph">"GlobeConnect, has been an emblem that I cherish and will stand behind through an impetus to uplift our communities, and people of all color, gender, and status"</p>
        </div>
    </div>
</section>

<section class="content-section">
        <div class="block">
            <div class="block-photo">
                 <img src="/images/doc.svg" alt="">
            </div>
            <div class="block-card">
                <h3 class="block-title header-title">The Problem</h3>
                <p class="block-par paragraph">Hospitals and Healthcare facilities are facing an increase cost in staff/supplies, high operating costs, emergency department overuse, and high readmission rates. There is also a shortage of health care personnel and some communities lack access to care.</p>
            </div>
        </div>
         <div class="block">
            <div class="block-card">
                <h3 class="block-title header-title" >Why Globeconnect is needed</h3>
                <p class="block-par paragraph">By Utilizing Telehealth solutions such as mobile health units, readmission rates can be reduced, pre-op and post-op evaluations can be provided resulting into saved time for health care workers, and access to primary and specialty can be increased. </p>
                  <button class="btn home-btn">Join Our Mailing List</button>
            </div>
            <div class="block-photo">
                <img src="/images/help.svg" alt="">
            </div>
        </div>    
</section>


{{!-- <section class="email-section">
          <div class="email-area">
            <h2>Join our email list!</h2>
            <input type="email" placeholder="Type your email here...">
        </div>
      
</section> --}}

<footer>
    <div class="container">
        <div class="footer-area">
            <div class="footer-block">
                <h4>Connect with us on social media</h4>
                 {{> _socials}}
            </div>


            {{!-- <div class="footer-block">
                <h2 class="footer-title header-title">Most Recent Blog Post</h2>
                <ul class="blog-list">
                    <li><a href="">&#8594; Corona virus cases in New Jersey</a></li>
                     <li><a href="">&#8594; Telemedicine is the future</a></li>
                     <li><a href="">&#8594; Why GlobeConnect is the best</a></li>
                     <li><a href="">&#8594; 10 things you can do to improve immune system</a></li>
                </ul>
            </div> --}}
        </div>

    </div>
</footer>