<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>
<section class="team-header">
    <div class="container">
        <h1>The Team</h1>
        <h4>Who we are and what we look like</h4>
    </div>
</section>

<section class="team-section">
    <div class="container">
        <div class="team">
            <div class="team-card">
                <img src="/images/rohit.jpeg" alt="">
                <h2>Rohit Mukherjee</h2>
                <h3>CEO</h3>
            </div>
            <div class="team-card">
                <img src="/images/alanzo.jpeg" alt="">
                <h2>Alanzo Aris</h2>
                <h3>Human Resource Manager</h3>
            </div>
            <div class="team-card">
                <img src="/images/imene.jpeg" alt="">
                <h2>Imene Beche</h2>
                <h3>Community Relations Manager</h3>
            </div>
            <div class="team-card">
                <img src="/images/jhadai.jpg" alt="">
                <h2>Jhadai Mcdonald</h2>
                <h3>Marketing & Social Media Manager</h3>
            </div>
            <div class="team-card">
                <img src="/images/eriq.jpeg" alt="">
                <h2>Eriq Pettway</h2>
                <h3>Grant Proposal Manager</h3>
            </div>
             <div class="team-card">
                <img src="/images/rohit.jpeg" alt="">
                <h2>Matt Evans</h2>
                <h3>Finance Manager</h3>
            </div>
            <div class="team-card">
                <img src="/images/nathaniel.jpg" alt="">
                <h2>Nathaniel Hansen</h2>
                <h3>Administrative Manager</h3>
            </div>
              <div class="team-card">
                <img src="/images/john.jpg" alt="">
                <h2>John Hemphill</h2>
                <h3>Administrative Assistant</h3>
            </div>
             <div class="team-card">
                <img src="/images/rob.jpg" alt="">
                <h2>Robert Magomero</h2>
                <h3>Internet Technology Manager</h3>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
         <div class="blog-socials">
             <h4>Connect with us on social media</h4>
 {{> _socials}}
        </div>
    </div>
</footer>
