
.page-container {
    min-height: 100%;
  }
.about-area {
  padding-top: 130px
}

.about-title{
  background-color: maroon;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}


.about-header {
    width: 75%;
    height:550px;  
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.about-header .mySlides{
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
    max-height:90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }


/* About area */


.about-content{
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.about-left{
  flex: 1;
  align-self: center;
  margin-bottom: 30px;
}
.about-left img {
  width: 75%;
  height: auto;
}

.about-right{
 flex: 1;
}

.about-sub-title{
  color: var(--deep-teal);
  font-size: 2.5rem;
  text-transform: uppercase;
}
.about-area p{
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
  font-size: 16px;
}
.section-title{
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 5%;
  text-align: center;
  color: var(--main-color);
}
.about-right h2{
  margin-bottom: 3%;
}
.about-btn{
  padding: 15px 35px;
  background: var(--main-color);
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}


/* -------------------------- */

.solutions{
  background-color: var(--deep-teal);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  min-height: 20rem;
}

.solutions h2 {
  text-transform: uppercase;
}

.service-section {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-body , .clarity-body , .app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.service , .app {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}
.clarity {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 5px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}


/* footer */

.blog-footer {
  min-height: 5rem !important;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }

  .about-left,
  .about-right{
      flex-basis: 100%;
  }
  .about-content li{
      padding: 8px;
  }
}

@media only screen and (max-width: 666px) {
  .prev, .next,.text {font-size: 11px}

  .service , .app {
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .clarity {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .service-body , .clarity-body , .app-body {
    align-items: center;
    justify-content: center;
  }
  .about-content {
text-align: center;
  }

  .about-par {
    width: 80vw;
  }

  .about-left img {
    width: 80vw;
    height: auto;
  }
}



