<header class="header">
    <div class="container">
        {{> _navbar}}
    </div>
</header>

<section class="blog-header">
     <div class="blog-feature">
        <div class="feature-blog">
            <div class="feature-card">
                <a href="#">
                <h3 class="feature-title">
                 Why GlobeConnect is the best       
                </h3>
                 </a> 
                  
                  <div class="blog-author">
                      <img src="/images/rohit.jpeg" alt="">
                      <div class="blog-info">
                          <h5>Rohit Mukherjee</h5>
                          <small>June 18th 2020</small>
                      </div>
                  </div>
            </div>
        </div>
        </div>
</section>